/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

docker-compose.override.yml
/.idea
/.vscode
docker/php/Dockerfile
docker-compose/nginx/ssl/certs/nginx-selfsigned.crt
docker-compose/nginx/ssl/private/nginx-selfsigned.key
docker-compose/nginx/dhparam/dhparam.pem
docker-compose/nginx/conf.d/auth-research.conf
docker-compose/dbdata
