-----BEGIN CERTIFICATE-----
MIIEVzCCAz+gAwIBAgIURFNLPPsoohJ++0BDu7EYMF8YLyIwDQYJKoZIhvcNAQEL
BQAwgboxCzAJBgNVBAYTAlVBMRQwEgYDVQQIDAvDkMKbS2hhcmtpdjEQMA4GA1UE
BwwHS2hhcmtpdjEdMBsGA1UECgwUQm91bmN5IENhc3RsZXMsIEluYy4xITAfBgNV
BAsMGE1pbmlzdHJ5IG9mIFdhdGVyIFNsaWRlczEZMBcGA1UEAwwQYXV0aHJlc2Vh
cmNoLm9yZzEmMCQGCSqGSIb3DQEJARYXdmxhZGltaXI0NTgyMkBnbWFpbC5jb20w
HhcNMjEwOTEzMTMxMjQ5WhcNMjIwOTEzMTMxMjQ5WjCBujELMAkGA1UEBhMCVUEx
FDASBgNVBAgMC8OQwptLaGFya2l2MRAwDgYDVQQHDAdLaGFya2l2MR0wGwYDVQQK
DBRCb3VuY3kgQ2FzdGxlcywgSW5jLjEhMB8GA1UECwwYTWluaXN0cnkgb2YgV2F0
ZXIgU2xpZGVzMRkwFwYDVQQDDBBhdXRocmVzZWFyY2gub3JnMSYwJAYJKoZIhvcN
AQkBFhd2bGFkaW1pcjQ1ODIyQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
ggEPADCCAQoCggEBALFg5Wawbr/l06HPZ4Kku57Wfb9YLRasYCnuldulcc5e2z6f
pnQ0ev5ISaMDNC3y58xEiCeX8SymuRNYOl7UetirLrUz5RRUAiq78GODcBEb2ZR4
aI4ooabEuLL+enzmKIpO/DoIhKqTjEpmJe+UyZZXRsxl/pFLQYQxgLgbOI+M/wxE
MwriHk9ya0wew4KE6z9DbMay6UGYryMkRah3PJC3dG15GFFANrDNiRZt9rZf3fY5
MvYot8ojVr6h9borEUt9d/8p/hpE0J6FqaEXx5mBWnslx3YYYzhVD26mvkIxiREV
FK64WYl10dWpb5ifPcitquwEPKBTumgkPhtaQoUCAwEAAaNTMFEwHQYDVR0OBBYE
FEklI6WmmXWz4tbABM5n7kVeSolpMB8GA1UdIwQYMBaAFEklI6WmmXWz4tbABM5n
7kVeSolpMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAJa1q4H0
7bxMJvPwSnVsx6nvjqR0SqNlUHvwTKBKHxXPsWsE+fgpPqnh6hHHJhUIw9FnLG07
gRtMd4sbz7X3IKA+bTSbtGKAlYT2omTLJoEPMqvvDcvnLDZNC4EiK3wo2hSv4+i4
ITG822SWwcKptvl/5B3b0pqq5L7h2l2AQK8uaaF953vdHZG5yeCL1/iMQgsxd1kV
QzGTl+p1ONun4SvN7kb+2H3vRnWey3EnDMAm/GCqD6EkCRBLiNdEtSRsiJ9skls+
28qt7TOjzlqBdC1aSWNsCqJbikm8dTRnH+w7GSbUjjhga/VjOZw93wq8HTEi5HVp
sXHNWr5Tv7BUr20=
-----END CERTIFICATE-----
